<!DOCTYPE html>
<html lang="ru">
<head>
<meta charset="UTF-8">
<title>Распознавание речи</title>
<style>
  #temperatureIndicator {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 18px;
  }
</style>
</head>
<body>
<h1>Распознавание речи в реальном времени</h1>
<button id="start">Начать запись</button>
<button id="stop">Остановить запись</button>
<button id="summarize">Сделать саммари текста</button>
<div id="text"></div>
<div id="analysisResults"></div>
<div id="temperatureIndicator">Температура клиента: <span id="temperatureValue"></span></div>
<div id="summarizedText"></div>

<script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>