<!DOCTYPE html>
<html lang="ru">
<head>
<meta charset="UTF-8">
<title>Распознавание речи</title>
</head>
<body>
<h1>Распознавание речи в реальном времени</h1>
<button id="start">Начать запись</button>
<button id="stop">Остановить запись</button>
<button id="executeScript">Выполнить скрипт</button>
<div id="text"></div>
<div id="analysisResults"></div>


<script>
  var recognition = new webkitSpeechRecognition();
  recognition.lang = 'ru-RU';
  recognition.continuous = true;
  recognition.interimResults = true;

  var accumulatedText = '';
  var sendInterval;

  document.getElementById('start').onclick = function() {
    recognition.start();
    // Начать регулярную отправку данных на сервер
    sendInterval = setInterval(() => {
      sendDataToServer(accumulatedText);
    }, 5000); // Отправлять данные каждую секунду
  };

  document.getElementById('stop').onclick = function() {
    recognition.stop();
    clearInterval(sendInterval); // Остановить регулярную отправку при остановке записи
  };

  recognition.onresult = function(event) {
    var interimTranscript = '';
    for (var i = event.resultIndex; i < event.results.length; ++i) {
      if (event.results[i].isFinal) {
        accumulatedText += event.results[i][0].transcript;
      } else {
        interimTranscript += event.results[i][0].transcript;
      }
    }
    document.getElementById('text').innerHTML = accumulatedText + '<i>' + interimTranscript + '</i>';
  };

  function sendDataToServer(text) {
    fetch("/api/upload-audio", {
      method: "POST",
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({ text: text })
    })
    .then(response => response.json())
    .then(data => console.log('Data sent successfully', data))
    .catch(error => console.error('Error sending data:', error));
  }

  document.getElementById('executeScript').onclick = function() {
    fetch("/api/analyse-log", {
      method: "POST",
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({ /* data to send */ })
    })
    .then(response => response.json())
    .then(data => {
      displayAnalysisResults(data);
    })
    .catch(error => console.error("Failed to execute script.", error));
  };

  function displayAnalysisResults(data) {
    // Отображение результатов на странице
    var resultDiv = document.getElementById('analysisResults');
    resultDiv.innerHTML = '<h2>Analysis Results:</h2>';
    for (var key in data) {
        resultDiv.innerHTML += '<p>' + key + ': ' + data[key] + '</p>';
    }
  }

</script>
</body>
</html>